<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="currentPassword" class="block text-sm font-medium text-gray-700">Current Password</label>
        <input
          id="currentPassword"
          type="password"
          formControlName="currentPassword"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>
      
      <div class="mb-4">
        <label for="newPassword" class="block text-sm font-medium text-gray-700">New Password</label>
        <input
          id="newPassword"
          type="password"
          formControlName="newPassword"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
        <!-- Poruka za lozinku koja je prekratka -->
        <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="text-red-500 text-sm">
          Password must be at least 6 characters long.
        </div>
      </div>
  
      <div class="mb-4">
        <label for="confirmNewPassword" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
        <input
          id="confirmNewPassword"
          type="password"
          formControlName="confirmNewPassword"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>
  
      <div *ngIf="errorMessage" class="text-red-500 text-sm mb-4">{{ errorMessage }}</div>
  
      <button
        type="submit"
        class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
      >
        Change Password
      </button>
    </form>
  </div>
  